*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(#808080, #2d0404, #2d0404, #808080)
}
.principal {
    margin: 100px auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(128, 129, 131);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}
.principal h1 {
    color: rgb(45, 4, 4);
    margin: 20px 20px;
    text-align: center;
    font-size: 40px;
}
.principal label {
    margin: 18px;
    color: rgb(45, 4, 4);
    font-weight: bold;
    font-size: 20px;
}
.principal input {
    height: 22px;
    width: 120px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    padding-left: 4px;
    border-radius: 5px;
    margin: 18px;
}
.final {
    text-align: center;
}

.final button {
    color: #2d0404;
    padding: 8px;
    border-radius: 15%;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin: 40px;
   
}
.final button:hover {
    opacity: 0.8;
}
.resultado {
    background-color: rgb(148, 151, 162);
    width: 100%;    
    padding-bottom: 10px;
}
.resultado p{
    font-size: 22px;
    color: rgb(45, 4, 4);
    padding-left: 12px;
}
.resultado span {
    font-weight: bold;
}

/*RESPONSIVIDADE*/
@media (max-width: 375px) {

}

@media (max-width: 481px) {

}

@media (max-width: 768px) {

}

@media (max-width: 1200px) {

}